/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 30px;
    cursor: pointer;
  }

  /* Add underline effect on hover */
nav ul li:hover {
  text-decoration: underline;
  text-underline-offset: 10px; /* Adjust the spacing between text and underline */
}
  